*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 10px;
    color: brown;
}

body{
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: #ccc;
    border: 10px solid #fff;
    padding: 25px;
    max-width: 460px;
    width: 100%;
    border-radius: 3px;
}

.container .item{
    background-color: black;
    display: flex;
    padding: 12px 17px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: space-between;
}

.container .item i{
    cursor: pointer;
}